gradient()
  background: #f1e767;
  background: -moz-linear-gradient(top, #f1e767 0%, #feb645 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f1e767), color-stop(100%, #feb645));
  background: -webkit-linear-gradient(top, #f1e767 0%, #feb645 100%);
  background: -o-linear-gradient(top, #f1e767 0%, #feb645 100%);
  background: -ms-linear-gradient(top, #f1e767 0%, #feb645 100%);
  background: linear-gradient(top bottom, #f1e767 0%, #feb645 100%);

html
  min-height 100%

body
  min-height 100%
  gradient()

.content
  min-width: 680px

.form-error
  color: red
  font-size: 0.9em

.row
  width 99%

.no-wrap
  white-space nowrap

.animated
  overflow hidden

  &.ng-hide-remove
    opacity: 0;
    transition: opacity .3s  ease

  &.ng-hide-remove-active
      opacity: 1;